/*estilos motor audiencias */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: #003366; /* Color azul oscuro */
    color: #d7dbdd;
    display: flex;
    justify-content: space-between; /* Mueve los elementos a la derecha */
    align-items: center;
    padding: 10px 20px;
    font-family: Helvetica, monospace;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right i {
    margin-left: 15px;
}

.icon-grid, .icon-logout {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 15px;
}

/* Estilos del contenido principal */
.main-content {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    height: 80vh;
    background-color: #f9f9f9;
}

/* Estilos de la tarjeta */

.card-container {
    display: flex; /* Utiliza flexbox para el contenedor de tarjetas */
    justify-content: flex-start; /* Alinea el contenido al inicio (izquierda) */
    margin-left: 200px;
    margin-top: -135px;
}

.card {
    background-color: #2471a3;
    color: #ffffff;
    width: 283px;
    height: 200px;
    padding: 20px;
    text-align: center;
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.card-icon h3 i{
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 60px;
}

.card-title {
    font-size: 20px;
    /*font-weight: bold;*/
    font-family: Helvetica, monospace;
}

.container {
    display: flex;
    justify-content: space-between;
}

#categoria_section{
    display: flex;
    justify-content: space-between; /* Espacio entre las columnas */
    gap: 20px; /* Espacio entre las columnas */
    padding: 20px;
    font-family: Arial, sans-serif;
}

#categoria_section div {
    flex: 1; /* Ambas columnas ocuparán el mismo ancho */
}

#categoria_section select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 10px;
}

#categoria_section input[type="checkbox"] {
    margin-bottom: 10px;
}

#categoria_section label {
    display: block;
    margin-bottom: 5px;
}

#categoria_section, #multicategoria_section, #corporate_section, .misc-options {
    background-color: #fff;
    padding: 20px;
    width: 30%;
}

input[type="checkbox"], input[type="radio"], select, input[type="text"], input[type="date"] {
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    font-size: 16px;
}

.campanas {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.campanas input[type="radio"] {
    margin: 10px 0;
}

.campanas input[type="submit"],
.campanas input[type="button"] {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.campanas input[type="submit"] {
    background-color: #e0e0e0; /* Light gray background */
    color: #333; /* Dark text */
}

.campanas input[type="submit"]:hover {
    background-color: #d4d4d4; /* Slightly darker gray on hover */
}

.campanas input[type="button"] {
    background-color: #2980b9; /* Blue background */
    color: #fff; /* White text */
}

.campanas input[type="button"]:hover {
    background-color: #303f9f; /* Darker blue on hover */
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin-bottom: 20px;
}

input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

label {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
    display: block;
}

input[type="checkbox"] {
    margin-right: 10px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
}

h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.misc-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: #f9f9f9;
    outline: none;
    margin-bottom: 30px;
}

input[type="text"]:focus {
    border-bottom: 2px solid #333;
}

label {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
    display: block;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: #f9f9f9;
    outline: none;
    margin-top: 5px;
}

input[type="date"]::before {
    content: 'Fecha';
    display: block;
    font-size: 16px;
    color: #aaa;
    margin-bottom: 5px;
}

input[type="date"]:focus {
    border-bottom: 2px solid #333;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 50px;
}

.btn_json {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    background-color: #2980b9;
    color: #fff;
}